extends layout

block content
    form(action='/add' method='post')
        label(for='firstname') First Name;
        input(id='firstname' name='firstname' type='text')

        label(for='lastname') Last Name:
        input(id='lastname' name='lastname' type='text')

        label(for='jobtitle') Job Title:
        select(id='jobtitle' name='jobtitle')
           each title in jobtitles
               option(value=title) #{title}

        div.address
            div.streetline
                div.streetline1
                    label(for='streetline1') Street Line 1:
                    input(id='streetline1' name='streetline1' type='text')

                div.streetline2
                    label(for='streetline2') Street Lime 2:
                    input(id='streetline2' name='streetline2' type='text')
            div.territory
                div.city
                    label(for='city') City:
                    input(id='city' name='city' type='text')

                div.state
                    label(for='state') State:
                    select(id='state name='state')
                        each state in statelist
                           option(value=state) #{state}

                div.zip
                    label(for='zip') Zip:
                    input(id='zip' name='zip' type='number')

        div.personal-info-row
            div.phone
                label(for='phonenumber') Phone Number:
                input(id='phonenumber' name='phonenumber' type='number')

            div.year
                label(for='yearhired') Year HiredZ:
                input(id='yearhired' name='yearhired' type='number')

        button(type='submit') Submit
